<table style="width:100%" class="table">
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Date</th>
    <th>User Email</th>
    <th>Amount</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.order.id %></td>
      <td><%= order_item.order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= order_item.order.user.email %></td>
      <td><%= order_item.order.amount %></td>
      <td><%= link_to 'Review Order', order_manage_path(order_item.order) %></td>
    </tr>
  <% end %>
  </tbody>
</table>