<h1>Admin Panel</h1>
<%= link_to 'All Users',  users_path%> <br>
<%= link_to 'All Categories', categories_path %> <br>
<%= link_to 'All Items', items_path %> <br>
<%= link_to 'All Orders',  order_index_path%> <br>
<%= link_to 'Approvals',  admin_approvals_path%> <br>
<%= link_to 'Returns',  admin_returns_path%> <br>
<%= link_to 'Edit Profile', edit_user_registration_path %> <br>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> <br>