<h2>Edit User</h2>
<%= bootstrap_form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited these changes from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<!--    <%#= f.label :name %><br />-->
    <%= f.text_field :name, autofocus: true%>
  </div>

  <div class="field">
<!--    <%#= f.label :date_of_birth, 'Date of Birth' %><br />-->
    <%= f.date_field :date_of_birth, autofocus: true%>
  </div>

  <div class="field">
<!--    <%#= f.label :phone, 'Phone Number' %><br />-->
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
<!--    <%#= f.label :email %><br />-->
    <%= f.email_field :email, :readonly => true%>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
<!--    <%#= f.label :password_confirmation %><br />-->
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div id = 'address'>
    <div class="field">
<!--      <%#= f.label :address, 'Street Address' %><br />-->
      <%= f.text_field :address, autofocus: true %>
    </div>

    <div class="field">
<!--      <%#= f.label :apt, 'Apt/Suite' %><br />-->
      <%= f.text_field :apt, autofocus: true %>
    </div>

    <div class="field">
<!--      <%#= f.label :city %><br />-->
      <%= f.text_field :city, autofocus: true %>
    </div>

    <div class="field">
<!--      <%#= f.label :postal_code %><br />-->
      <%= f.number_field :postal_code, autofocus: true %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "All Users", users_path %>
