<p id="notice"><%= notice %></p>
<% if user_signed_in? && current_user.admin%>
    <ul class="list-group list-group-horizontal">

      <li class="list-group-item"><%= link_to 'All Orders', order_index_path %> </li>
      <li class="list-group-item"><%= link_to 'All Categories', categories_path %></li>
      <li class="list-group-item"><%= link_to 'All Items', items_path %> </li>
      <li class="list-group-item"><%= link_to 'Approvals', admin_approvals_path %> </li>
      <li class="list-group-item"><%= link_to 'Returns', admin_returns_path %> </li>
      <li class="list-group-item"><%= link_to 'My Wishlist', wishlist_path %> </li>
      <li class="list-group-item"><%= link_to 'My Cart', cart_path %> </li>
      <li class="list-group-item"><%= link_to 'View Saved Cards', cards_path %> </li>
      <li class="list-group-item"><%= link_to 'Feedback', feedbacks_path %> </li>

    </ul>
  <%end %>
<h1>All Users</h1>

<% if @users.empty? %>
  <p>No users to display</p>
<% else %>
  <table style="width:100%" class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Phone Number</th>
      <th>City</th>
      <th>Postal Code</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <% unless user.admin %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.date_of_birth %></td>
          <td><%= user.phone %></td>
          <td><%= user.city %></td>
          <td><%= user.postal_code %></td>
          <td><%= link_to 'Show', user %> |
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'View Orders', order_index_path(:search => {:user_id => user, :item_id => ''}), :method => :post %> |
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'This will delete ALL user data. Are you sure?' }  %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New User', new_user_registration_path %> <br>
<%= link_to 'Back to dashboard', admin_path %>