<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date Of Birth:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Apt/Suite:</strong>
  <%= @user.apt %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @user.postal_code %>
</p>

<%= link_to 'Edit User', edit_user_path(@user) %> <br>
<%= link_to 'Back to all users', users_path %> <br>
<%= link_to 'Back to dashboard', admin_path %>
