<h3>Recently Added</h3>
<table style="width:100%">
  <thead>
  <tr>
    <th>Category</th>
    <th>Brand</th>
    <th colspan>Name</th>
    <th>Age Restricted</th>
    <th>Restricted</th>
    <th>Price</th>
    <th colspan>Actions</th>
  </tr>

  </thead>

  <tbody>
  <% @new_items.each do |item| %>
    <tr>
      <td><%= item.category.name %></td>
      <td><%= item.brand %></td>
      <td><%= item.name %></td>
      <td><%= item.age_restricted_item %></td>
      <td><%= item.restricted_item %></td>
      <td><%= item.price %></td>
      <td><%= link_to 'Show', item %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<h3>Trending Items</h3>
<table style="width:100%">
  <thead>
  <tr>
    <th>Category</th>
    <th>Brand</th>
    <th colspan>Name</th>
    <th>Age Restricted</th>
    <th>Restricted</th>
    <th>Price</th>
    <th colspan>Actions</th>
  </tr>

  </thead>

  <tbody>
  <% @popular_items.each do |item| %>
    <tr>
      <td><%= item.category.name %></td>
      <td><%= item.brand %></td>
      <td><%= item.name %></td>
      <td><%= item.age_restricted_item %></td>
      <td><%= item.restricted_item %></td>
      <td><%= item.price %></td>
      <td><%= link_to 'Show', item %></td>
    </tr>
  <% end %>
  </tbody>
</table>