<h1>Store Management System</h1>

<% if user_signed_in? %>
  <%= link_to 'View Items', items_path %> <br>
  <%= link_to 'View Orders', order_index_path %> <br>
  <%= link_to 'View Wishlist', wishlist_path %> <br>
  <%= link_to 'My Cart', cart_path %> <br>
  <%= link_to 'View Saved Cards', cards_path %> <br>
  <%= link_to 'Edit Profile', edit_user_registration_path %> <br>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> <br>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %> <br>
  <%= link_to 'Sign In', new_user_session_path  %> <br>
<% end %>
