<p>
  <strong>Date: </strong><%= @order.created_at.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Delivery Address:</strong> <br>
  <%= current_user.name%> <br>
  <%= current_user.address + "," %> <br>
  <%= current_user.apt + "," %> <br>
  <%= current_user.city  + " - " + @current_user.postal_code%> <br>
</p>
<p>
  <strong>Contact:</strong>
  <%= current_user.phone%>
</p>