<h1>Order Confirmation</h1>

<h3>Order Details:</h3>
<%= render 'head' %>
<br>

<h3>Item Details:</h3>
<table style="width:100%">
  <thead>
  <tr>
    <th>Item Name</th>
    <th>Item Brand</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.brand %></td>
        <td><%= order_item.name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.price * order_item.quantity %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= render 'totals' %>
<br>

<%= render 'payment' %>
<br>

<%= link_to 'All Items', items_path %>