<h1>Order Confirmation</h1>

<h3>Order Details:</h3>
<%= render 'head' %>
<br>

<h3>Item Details:</h3>
<table>
  <thead>
  <tr>
    <th>Item Name</th>
    <th>Item Brand</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  </thead>

  <tbody>
  <% @order_items.each do |order_item| %>
    <% item = Item.find(order_item.item_id) %>
    <tr>
      <td><%= item.brand %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= order_item[:quantity] %></td>
      <td><%= item.price * order_item[:quantity] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <strong>Sub Total:</strong>
  <%= @sub_total %> <br>
  <strong>Tax:</strong>
  <%= @tax_total %> <br>
  <strong>Final Amount:</strong>
  <%= @final_total %> <br>
</p>
<br>

<h3>Payment Details:</h3>
<p>
  Paid By: <%= @order.card_holder %>
</p>
<p>
  Paid using credit card: <%= @order.card_number %>
</p>
<br>

<%= link_to 'All Items', items_path %>