<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <ul class="list-group list-group-horizontal">
  <li class="list-group-item"><%= link_to 'View Items', items_path %> </li>
  <li class="list-group-item"><%= link_to 'View Orders', order_index_path %> </li>
  <li class="list-group-item"><%= link_to 'View Wishlist', wishlist_path %> </li>
  <li class="list-group-item"><%= link_to 'My Cart', cart_path %> </li>
  <li class="list-group-item"><%= link_to 'View Saved Cards', cards_path %> </li>
  <li class="list-group-item"><%= link_to 'Give Feedback', new_feedback_path %> </li>
  </ul>

<% end %>

<br>

<h1>Past Orders</h1>

<% if current_user.admin %>
  <br>
  <div class="card">
    <div class="card-body">
      <%= render 'search' %>
    </div>
  </div>
  <br>
<% end %>

<table style="width:100%" class="table">
  <thead>
  <tr>
    <th>ID</th>
    <% if current_user.admin %>
      <th>User Email</th>
    <% end %>
    <th>Date</th>
    <th>Tax</th>
    <th>Discount</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <% if current_user.admin %>
        <td><%= order.user.email %></td>
      <% end %>
      <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= order.tax %></td>
      <td><%= order.discount %></td>
      <td><%= order.amount %></td>
      <td><%= order.status %></td>
      <td><%= link_to 'Review Order', order_manage_path(order) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Home', root_path %>
