<p id="notice"><%= notice %></p>

<h1>Past Orders</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Tax</th>
    <th>Discount</th>
    <th>Amount</th>
    <th>Status</th>
  </tr>

  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= order.tax %></td>
      <td><%= order.discount %></td>
      <td><%= order.amount %></td>
      <td><%= order.status %></td>
      <td><%= link_to 'View/Manage Order', order_index_path %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %>
