<p id="notice"><%= notice %></p>
<h1>Review Order</h1>

<h3>Order Details:</h3>
<%= render 'head' %>
<br>

<h3>Item Details:</h3>
<table style="width:100%">
  <thead>
  <tr>
    <th>Item Name</th>
    <th>Item Brand</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.brand %></td>
        <td><%= order_item.name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.price * order_item.quantity %></td>
        <td><%= order_item.status %></td>
        <% if order_item.status == "Purchased" and @order.user_id == current_user.id %>
          <td><%= link_to 'Request Return', order_return_path(:order_id => @order.id, :orderitem_id => order_item.id), method: :post%></td>
        <% end %>
        <% if ["Pending Approval", "Return Requested"].include?(order_item.status) and current_user.admin %>
          <td><%= link_to 'Approve', admin_approve_path(:order_id => @order.id, :orderitem_id => order_item.id), method: :post %></td>
          <td><%= link_to 'Reject', admin_reject_path(:order_id => @order.id, :orderitem_id => order_item.id), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'totals' %>
<br>

<%= render 'payment' %>
<br>
<%= link_to 'Back', :back %> <br>
<%= link_to 'All Orders', order_index_path %> <br>
<%= link_to 'All Items', items_path %>
