<p id="notice"><%= notice %></p>
<h1>Review Order</h1>

<h3>Order Details:</h3>
<%= render 'head' %>
<br>

<h3>Item Details:</h3>
<table>
  <thead>
  <tr>
    <th>Item Name</th>
    <th>Item Brand</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @order_items.each do |order_item| %>
    <% item = Item.find(order_item.item_id) %>
    <tr>
      <td><%= item.brand %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= order_item.quantity %></td>
      <td><%= item.price * order_item[:quantity] %></td>
      <td><%= order_item.status %></td>
      <% unless current_user.admin %>
        <td><%= link_to 'Request Return', order_manage_path(@order)%></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'totals' %>
<br>

<%= render 'payment' %>
<br>
<%= link_to 'All Orders', order_index_path %> <br>
<%= link_to 'All Items', items_path %>