<p id="notice"><%= notice %></p>

<h1>My Cart</h1>

<table>
  <thead>
  <tr>
    <th>Item Name</th>
    <th>Item Brand</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  </thead>

  <tbody>
  <% @cart_items.each do |cart_item| %>
    <% item = Item.find(cart_item.item_id) %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.brand %></td>
      <td><%= item.price %></td>
      <td><%= cart_item.quantity %></td>
      <td><%= item.price * cart_item.quantity %></td>
      <td><%= link_to 'Change Quantity', edit_cart_path(cart_item) %></td>
      <td><%= link_to 'Remove From Cart', cart_path(:id => cart_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'All Items', items_path %>

