<%= bootstrap_form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <% form.label :brand %>
    <%= form.text_field :brand %>
  </div>
  <div class="field">
    <% form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div class="field">
    <% form.label :remote_image_url, 'or image URL' %>
    <%= form.text_field :remote_image_url %>
  </div>
  <div>
    <%= form.label :category_id %>
    <%= collection_select( :item, :category_id, Category.all, :id, :name, {}, { multiple: false, include_blank: true }) %>
  </div>
  <div class="field">
    <% form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="field"><br>
    <% form.label :restricted_item %>
    <%= form.check_box :restricted_item %>
  </div>
  <div class="field">
    <% form.label :age_restricted_item %>
    <%= form.check_box :age_restricted_item %>
  </div> <br>
  <div class="field">
    <% form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
  <div class="field">
    <% form.label :popularity %>
    <%= form.text_field :popularity %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
