<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <ul class="list-group list-group-horizontal">
  <li class="list-group-item"><%= link_to 'View Items', items_path %> </li>
  <li class="list-group-item"><%= link_to 'View Orders', order_index_path %> </li>
  <li class="list-group-item"><%= link_to 'View Wishlist', wishlist_path %> </li>
  <li class="list-group-item"><%= link_to 'My Cart', cart_path %> </li>
  <li class="list-group-item"><%= link_to 'View Saved Cards', cards_path %> </li>
  <li class="list-group-item"><%= link_to 'Give Feedback', new_feedback_path %> </li>
  </ul>

<% end %>

<br>

<h1>Items</h1>
<br>
<div class="card">
  <div class="card-body">
    <%= render 'search' %>
  </div>
</div>

<br>
<table style="width:100%" class="table">
  <thead>
    <tr>
      <th> </th>
      <th>Category</th>
      <th>Brand</th>
      <th colspan>Name</th>
      <th>Age Restricted</th>
      <th>Restricted</th>
      <% if current_user and current_user.admin %>
        <th>Available Quantity</th>
      <% end %>
      <th>Price</th>
      <th>Actions</th>
      <% if current_user and current_user.admin %>
        <th>Admin Actions</th>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.image_url(:thumb).to_s %></td>
        <td><%= item.category.name %></td>
        <td><%= item.brand %></td>
        <td><%= item.name %></td>
        <td><%= item.age_restricted_item %></td>
        <td><%= item.restricted_item %></td>
        <% if current_user and current_user.admin %>
          <td><%= item.quantity %></td>
        <% end %>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %> |
        <% if current_user %>
          <%= link_to 'Add to Wishlist', wishlist_add_path(:item_id => item), method: :post %> |
          <% if item.quantity > 0 %>
            <%= link_to 'Add to Cart', cart_path(:item_id => item), method: :post %> |
            <%= link_to 'Buy Now', order_review_path(:item_id => item)%> |
          <% else  %>
            <%= link_to 'Unavailable - Subscribe', item_subscribe_path(:item => {:id => item.id}), method: :post %>
          <%end %></td>
          <td>
          <% if current_user.admin %>
            <%= link_to 'Edit', edit_item_path(item) %> |
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end %>
          </td>
        <%end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user and current_user.admin %>
  <%= link_to 'New Item', new_item_path %> <br>
  <%= link_to 'Back to Dashboard', admin_path %>
<% else%>
  <%= link_to 'Home', root_path %>
<%end %>

