<p id="notice"><%= notice %></p>

<h1>Items</h1>

<%= render 'search' %>
<br>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Brand</th>
      <th>Name</th>
      <th>Age Restricted</th>
      <th>Restricted</th>
      <th>Price</th>
    </tr>

  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.category.name %></td>
        <td><%= item.brand %></td>
        <td><%= item.name %></td>
        <td><%= item.age_restricted_item %></td>
        <td><%= item.restricted_item %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Add to Wishlist', wishlist_add_path(:item_id => item), method: :post %></td>
        <td><%= link_to 'Show', item %></td>
        <% if current_user.admin %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <% if item.quantity > 0 %>
            <td><%= link_to 'Add to Cart', cart_path(:item_id => item), method: :post %></td>
          <% else  %>
            <td>Item Unavailable - Subscribe</td>
          <%end %>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin %>
  <%= link_to 'New Item', new_item_path %> <br>
  <%= link_to 'Back to Dashboard', admin_path %>
<% else%>
  <%= link_to 'Home', root_path %>
<%end %>

