<!--<p id="notice"><%#= notice %></p>-->
<p>
  <%= image_tag @item.image_url(:big).to_s %>
</p>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>
  <strong>Category:</strong>
  <%= @item.category_id %>
<p><br>
  <strong>Restricted Item:</strong>
  <%= @item.restricted_item %>
</p>
  <strong>Age Restricted Item:</strong>
  <%= @item.age_restricted_item %>
<p><br>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<%= link_to 'All Items', items_path %> <br>
<% if current_user %>
  <%= link_to 'Buy Now', order_review_path(:item_id => @item)%> <br>
  <% if current_user.admin %>
    <%= link_to 'Edit', edit_item_path(@item)  %>
  <% end %>
<% else%>
  <%= link_to 'Sign In to Buy', new_user_session_path %> <br>
<% end %>

