<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Name on Card' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number, 'Card Number' %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :cvv, 'CVV' %>
    <%= form.text_field :cvv %>
  </div>

  <div class="field">
    <%= form.label :expiry_mm, 'Expiry MM' %>
    <%= form.number_field :expiry_mm %>
  </div>

  <div class="field">
    <%= form.label :expiry_yy, 'Expiry YY' %>
    <%= form.number_field :expiry_yy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
