<!--<p id="notice"><%#= notice %></p>-->
<% if user_signed_in? %>
  <% if current_user.admin %>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= link_to 'All Users', users_path %></li>
      <li class="list-group-item"><%= link_to 'All Orders', order_index_path %> </li>
      <li class="list-group-item"><%= link_to 'All Items', items_path %> </li>
      <li class="list-group-item"><%= link_to 'All Categories', categories_path %></li>
      <li class="list-group-item"><%= link_to 'Approvals', admin_approvals_path %> </li>
      <li class="list-group-item"><%= link_to 'Returns', admin_returns_path %> </li>
      <li class="list-group-item"><%= link_to 'View Wishlist', wishlist_path %> </li>
      <li class="list-group-item"><%= link_to 'My Cart', cart_path %> </li>
      <li class="list-group-item"><%= link_to 'Feedback', feedbacks_path %> </li>
    </ul>
  <%else %>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= link_to 'View Items', items_path %> </li>
      <li class="list-group-item"><%= link_to 'View Orders', order_index_path %> </li>
      <li class="list-group-item"><%= link_to 'View Wishlist', wishlist_path %> </li>
      <li class="list-group-item"><%= link_to 'My Cart', cart_path %> </li>
      <li class="list-group-item"><%= link_to 'Give Feedback', new_feedback_path %> </li>
    </ul>
  <%end %>
<% end %>
<br>

<h1>Cards</h1>

<% if @cards.empty? %>
  <p>No cards to display</p>
<% else %>
  <table style="width:100%" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Cvv</th>
        <th>Expiry mm</th>
        <th>Expiry yy</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
        <% @cards.each do |card| %>
          <tr>
            <td><%= card.name %></td>
            <td><%= card.number %></td>
            <td><%= card.cvv %></td>
            <td><%= card.expiry_mm %></td>
            <td><%= card.expiry_yy %></td>
            <td><%= link_to 'Show', card %> |
            <%= link_to 'Edit', edit_card_path(card) %> |
            <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Card', new_card_path %> <br>
<%= link_to 'Home', root_path %>
