
<h1>Categories</h1>

<table style="width:100%" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tax Rate</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.tax_slab %></td>
        <td><%= link_to 'Show', category %> |
        <%= link_to 'Edit', edit_category_path(category) %> |
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %> <br>
<%= link_to 'Back to Dashboard', admin_path %>
