<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-witdh, initial-scale=1.0">
    <title>Store Management</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Amchi kuthe shakha nahi" %>%">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
    <div class="container">
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    
  </body>

</html>
